body { background-color: rgb(30, 150, 126);
    color: rgb(0, 0, 0);
    font-family: 'Lora', serif;
    font-weight: bold;
	letter-spacing: 100px
	font-size: 60px;
	text-align: center; 
	}

h1 { color: #0923b0;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: auto;
}
h2 {
  color: #0923b0;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: auto;
}

h3 {
  color: #0923b0;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: auto;
    #home-page-first-image {
  border-radius: 50%;
}


.home-card {
  text-align: center;
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}
    img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}
.list-inline {
  list-style: none; 
  padding-left: 0px; 
}
.list-inline > li {
  display: inline; 
  padding: 0px 20px; 
}